<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1>{{link-to 'App' 'index'}}</h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      {{#if session.isAuthenticated}}
        <li {{action 'invalidateSession'}}><a href='#'>Sign Out</a></li>
      {{else}}
        {{#link-to 'login' tagName='li' href=false}}
          {{link-to 'Login' 'login'}}
        {{/link-to}}
        {{#link-to 'register' tagName='li' href=false}}
          {{link-to 'Register' 'register'}}
        {{/link-to}}
      {{/if}}
    </ul>

    <ul class="left">
      {{#link-to 'index' tagName='li' href=false}}
        {{link-to 'Home' 'index'}}
      {{/link-to}}
    </ul>
  </section>
</nav>
